<h1 class="title">Messages ({{messages().length}})</h1>
@if (loading()) {
<p>Loading messages...</p>
}

@if (error()) {
<p>{{ error() }}</p>
<button (click)="fetchMessages()">Retry</button>
}

@if (!loading() && !error()) {
@if (messages().length === 0) {
<p>No messages found.</p>
} @else {
@for (message of messages(); track message._id) {
<div class="card">
    <div class="card-content">
        <div class="content">
            <p>To: {{ message.to }}</p>
            <p>Body: {{ message.body }}</p>
            <time>Sent at: {{ message.created_at | date:'medium' }}</time>
        </div>
    </div>
</div>
}
}
}